<!-- <div class="row content">
    <div class=" col-sm-3 p-3 ">
        <div class= "card shadow-lg contain">
            <img class="propImage"  src="assets\images\deault_house.png"     />
            <div class="card-body p-2">
                <h2>{{property.type}}</h2>
                <h3>{{property.price}}</h3>
            </div>
        </div>
    </div>
</div> -->

<div class="card-deck mt-5 ml-3 mr-3">
  <div class="shadow-lg card col-2">
    <img class="card-img-top " src="assets\images\deault_house.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{property.type}}</h5>
      <p class="card-text">{{property.price}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>